@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital@0;1&display=swap');
:root {
    --font-family : "JetBrains Mono", Consolas, monospace;
}

body {
    background-color: var(--background);
    color: var(--text);

    font-family: var(--font-family);
    font-weight: 400;

    max-width: min(round(nearest, 80ch, 5px), 90dvw);
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

footer {
    justify-content: end;
}

.details {
    color: var(--medium-text);
    font-style: italic;
}

hr {
    border: solid 1px var(--text);
}

h1, h2, h3 { 
    margin: 0;
    font-weight: 600;
}

h1:not(.no-hash):hover::before, h2:not(.no-hash):hover::before, h3:not(.no-hash):hover::before { color: var(--medium);}
h1:not(.no-hash)::before, h2:not(.no-hash)::before,h3:not(.no-hash)::before { color: var(--medium-bg);}

h1:not(.no-hash)::before { content: "# ";}
h2:not(.no-hash)::before { content: "## ";}
h3:not(.no-hash)::before { content: "### ";}

a {
    color: var(--accent-color);
    text-decoration: underline dashed;
    text-underline-offset: 3px;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: var(--text);
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;
}

a:before { content: "↪ ";}
p a:before, li a:before, h1 a::before { content: "";}
#top::before { content: "↑ ";}

.indent {
    text-indent: 2ch;
}

.indent>code {
    text-indent: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-weight: 700;
    color: var(--background);
    background-color: var(--text);
}

th, td {
    width: 33%;
    padding: 1ch;
    border-collapse: collapse;
    border: 2px solid var(--text);
}

article, section {
    margin-top: 1em;
    margin-bottom: 2em;
    scroll-snap-align: start;
}

figure {
    margin: 0;
}

.illustration {
    margin: auto;
    margin-bottom: 2em;
    width: fit-content;
}

.illustration img {
    object-fit: cover;
    display: block;
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color : var(--accent-color);
    text-decoration: underline dashed;
    font-family: var(--font-family);
    padding: 0;
}

button:hover {
    text-decoration: underline;
}

ul>li {
    list-style:none;
}

ul>li::before {
    content:"→ ";
}

ol>li {
    padding-bottom: .5em;
}

blockquote, .remarque {
    display: block;
    border-left: 2px solid var(--medium-text);
    margin: 1em;
    padding-left: 1em;
}

q::before, q::after {
    content: "";
}

q, q>a {
    color: var(--medium-text);
    font-style: italic;
}

code {
    display: inline-block;
    font-family: var(--font-family);
    color: var(--text);
    background-color: var(--medium-bg);
}

.code-bash::before {
    content: "$ ";
}

.figure-code {
    display: flex;
    flex-direction: column;
    background-color: var(--medium-bg);
    border-radius: 5px;
    width: calc(100% - 2em);
    padding: 1em;
    margin-bottom: 2em;
    overflow-x:auto;
    scrollbar-color: var(--medium) var(--medium-bg);
    scrollbar-width: thin;
}

.figure-code>figcaption {
    align-self: start;
    place-self: end;
    position: absolute;
}
pre {
    margin: 0;
}
pre code {
    display: block;
    color: var(--text);
}

.code-function {color: var(--code-blue);}
.code-comment {color: var(--code-green);}
.code-string {color: var(--code-rust);}
.code-symbol {color: var(--code-yellow);}