<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:) Nathan Rissot</title>

    <style id="palette">
        /* DO NOT DELETE, USED FOR THEME SWITCHER */
    </style>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="header"> <!-- for the footer 'top' button -->
        <h1><a href="fr/index.html">Nathan Rissot</a></h1>
        <nav>
            <button id="theme-switcher" class="theme-switcher" onclick="handle_theme_switcher()">Changer le theme</button>
            <a href="fr/index.html">Accueil</a>
            <a href="fr/index.html#contact">Contact</a>
        </nav>
    </header>
    <hr>
    <main>
        <!-- TODO : Search box -->
        <h2>Articles</h2>
        %Content%
    </main>
    <footer>
        <nav>
            <a href="#header" id="top">Top</a>
        </nav>
    </footer>
</body>
%Script%
</html>