<!DOCTYPE html>
<html lang="%Article-Lang%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%Article-Title%</title>

    <style id="palette">
        /* DO NOT DELETE, USED FOR THEME SWITCHER */
    </style>
    
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header id="header"> <!-- for the footer 'top' button -->
        <h1><a href="../%Article-Lang%/index.html">Nathan Rissot</a></h1>
        <nav>
            <button id="theme-switcher" class="theme-switcher" onclick="handle_theme_switcher()">%Switch-Theme%</button>
            <a href="../blog.html">Blog</a>
            <a href="../%Article-Lang%/index.html#contact">Contact</a>
        </nav>
    </header>
    <hr>
    <main>
        <header>
            <h2>%Article-Title%</h2>
            <span>%Article-Date%, %Article-Reading-Time%</span>
        </header>
        <p class="details">%Article-Details%</p>
        %Article-Content%
    </main>
    <footer>
        <nav>
            <a href="#header" id="top">Top</a>
        </nav>
    </footer>
</body>
%Script%
</html>