<script>
    const dark_theme = ':root {--background:#000;--medium-bg:#222;--medium:#777;--medium-text:#ddd;--text:#fff;--accent-color: #f5de2f;--code-blue:#38bdf8;--code-green:#65a30d;--code-rust:#f59e0b;--code-yellow:#facc15;}'
    const light_theme  = ':root {--background:#fff;--medium-bg:#eee;--medium:#777;--medium-text:#222;--text:#000;--accent-color: #eab308;--code-blue:#0369a1;--code-green:#4d7c0f;--code-rust:#c2410c;--code-yellow:#eab308;}'
    
    let is_dark = false

    function set_theme() {
        if (is_dark) {
            document.getElementById("palette").textContent = dark_theme;
        } else {
            document.getElementById("palette").textContent = light_theme;
        }
    }

    function handle_theme_switcher() {
        is_dark = !is_dark
        save_theme((is_dark ? "dark" : "light"))
        set_theme()
    }

    function save_theme(theme) {
        localStorage.setItem('theme',theme);
        console.log( localStorage.getItem('theme') )
    }


    if ( localStorage.getItem('theme') == "dark") {
        is_dark = true;
    } else if ( localStorage.getItem('theme') == "light") {
        is_dark = false;
    } else {
        if ( window.matchMedia("(prefers-color-scheme: dark)").matches) {
            is_dark = true;
        } else {
            is_dark = false;
        }
    }
    set_theme()
</script>